<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/common/layout"
      lang="en">
    <head>
        <title data-layout-fragment="t">页面a</title>
    </head>
    <body>
        <div data-layout-fragment="page-container">
            <h1>欢迎界面</h1>
        </div>
        <extendscript data-layout-fragment="extendscript">
            <script type="text/javascript" src="/assets/js/test/a.js"></script>
        </extendscript>
    </body>
</html>